apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-a
  namespace: demo-multi-burst
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-a
  template:
    metadata:
      labels:
        app: app-a
    spec:
      containers:
      - name: app
        image: nginx
        resources:
          requests:
            cpu: "300m"
