apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-b
  namespace: demo-multi-burst
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-b
  template:
    metadata:
      labels:
        app: app-b
    spec:
      containers:
      - name: app
        image: nginx
        resources:
          requests:
            cpu: "300m" # 300+300 = 600 > 500 -> Resize
